# Virtual environment
ben311/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

node_modules/
dist/
data/uploads/*
!data/uploads/.gitkeep
outputs/change_mask.pngsatquery-ai/
